@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&family=Orbitron:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&family=IBM+Plex+Sans:wght@200;300;400;500;600&family=Orbitron:wght@400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


:root{
    font-size: 16px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight:400;
    --secondary-font: 'IBM Plex Mono', monospace;
    --secondary-font-sans: 'IBM Plex Sans', sans-serif;
    --border-radius: 10px;
    color: #2e2e38;
    --text-gray: #323250;

    --bg-gray: #b6b6c2;
    --bg-point: #4fd49d;
    --bg-gradient: linear-gradient(90deg, rgba(0, 68, 73, 0) 0%, rgba(0, 68, 73, 0.767) 75%);
    --transition-speed: 0.2s;
    --transition-speed: 0.2s;
    --max--width: 1200px;

}


body{
    background-color: rgb(245, 245, 245);

}


a{
    cursor: pointer;
    text-decoration: none;
}



  /* Nav bar */
  .container {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
    justify-content: center;



}

#nav-bar {
	height: auto;
	width: 100%;
	position: fixed;
	z-index: 100;
	
}
.nav-bar {

	left: 0;
	top: 0;
	padding:16px;
	width: 100%;
}

.back {
    background-color: white;
    width: 48px;
    height: 48px;
    display: block;
    text-align: center;
    text-decoration:none;
    color: rgb(112, 112, 112);
    border-radius: 50px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05), 
    0 2px 2px rgba(0,0,0,0.05), 
    0 4px 4px rgba(0,0,0,0.05), 
    0 8px 8px rgba(0,0,0,0.05),
    0 16px 16px rgba(0,0,0,0.05);
    border:0.5px solid rgb(240, 240, 240);    
}


.back i {
    font-size: 21px;
    position:relative;
    color: rgb(112, 112, 112);
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    max-width: var(--max--width);
    margin: 0 auto;

}


.container .section{
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;


}
.textBox{
    width: 90%;
    height: auto;
    
}
.cardBox{
    box-shadow: rgba(17, 12, 46, 0.065) 0px 48px 100px 0px;
    border-radius: var(--border-radius);
    width: 100%;
    height: auto;
    position: relative;
    padding:0.8rem;
    padding-bottom: 2rem;
    transition: all 0.2s ease-in;
}

.cardBox:hover{
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

}

.link{
    color: var(--bg-gray)
}
.img{
    width: 100%;
    border-radius: var(--border-radius);

}
.btns{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top:2rem;
    padding-bottom: 2rem;
}

.btn{
    background-color: rgb(26, 122, 212);
    text-align: center;
    padding:1rem 2rem;
    min-width: 160px;
    border-radius: 4px;
    color: white;
    font-weight: 500;
    transition: all 0.2s ease-in;


}


.btn:hover{
    box-shadow: rgba(30, 54, 114, 0.185) 0px 0px 48px 0px;

}

.btn:last-child{
    background-color: rgba(112, 160, 204, 0.322);
    color: rgb(26, 122, 212);
    margin-left: 1rem;
}

h1{
    font-size: 2.5rem;
    font-weight: bold;
    padding-bottom: 1rem;
    color: var(--text-gray);

}


h6{
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--text-gray);
    padding-bottom: 0.5rem;


}
p{
    line-height: 1.5rem;
    padding-bottom: 1.4rem;

}

.tag{
    display: flex;
    flex-direction: row;
}

.tag > div{
    border-radius: 50px;
    border:1px solid var(--bg-gray);
    padding:6px 16px;
    margin-right:8px;

}

.hr{
    border-top: 4px dotted  var(--bg-gray);
    padding: 1rem;
    width: 80%;
}

@media only screen and (max-width: 768px){

    .container{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: auto;
        margin: 0;
    
    }
    
    
    .container .section{
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
    
    }

    .cardBox{
      
        width: 90%;
        height: auto;
        margin: 0 auto;
        margin-top: 4rem;
        margin-bottom: 4rem;

    }
}